@import url('https://fonts.googleapis.com/css?family=Raleway:200');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans');
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);


textarea {
	font-family: 'Nanum Gothic', serif;
	font-size: 12px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 15.4px;
	width : 600;
}

.table-title h1 {
	font-family: Raleway;
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
}

table {
	/* font-family: Inconsolata, monospace; */
	/* font-family: Oxygen Mono, monospace; */
	/* font-family: Noto Sans, sans-serif; */
	font-family: 'Nanum Gothic', serif;
	font-size: 12px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 15.4px;
	border-collapse: collapse;
	width: 600;
	/* width: 100%; */	
	
	page-break-inside:auto;
}

th {
	border-bottom: 1px solid #9ea7af;
	border-right: 0px;
	font-family: 'Nanum Gothic', serif;
	font-style: normal;
	font-variant: normal;
	font-weight: 700;
	font-size: 12px;
	line-height: 25px;
	text-align: center;
	vertical-align: middle;
}

tr {
	line-height: 20px;
	padding : 2px;
}

.td_railway_h0 {
	font-family: Raleway;
	font-size: 36px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 28px;
}

.td_railway_13 {
	font-family: Raleway;
	font-size: 13px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 15.4px;
}

.cell-c {
	text-align: center;
}

.cell-l {
	text-align: left;
	padding-left: 0.2cm;
}

.cell-r {
	text-align: right;
	padding-right: 0.2cm;
	padding-right: 0.2cm;
}

.row:hover td {
	background: #4E5066;
	color: #FFFFFF;
	border-top: 1px solid #22262e;
	border-bottom: 1px solid #22262e;
}

tr:first-child {
	border-top: none;
}

tr:last-child {
	border-bottom: none;
}

.row:nth-child(odd) td {
	background: #EBEBEB;
}

.row:nth-child(odd):hover td {
	background: #4E5066;
}


h1 {
	font-family: Raleway;
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
	margin-bottom: 1.5em;
}

h2 {
	font-family: Raleway;
	font-size: 18px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 15.4px;
}

h3 {
	font-family: Raleway;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 15.4px;
}

h4 {
	font-family: Raleway;
	font-size: 12px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 15.4px;
	margin-top: 2em;
	margin-bottom: -1.3em;
}

p {
	font-family: Raleway;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
}
blockquote {
	font-family: Raleway;
	font-size: 21px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 30px;
}
pre {
	font-family: Raleway;
	font-size: 13px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 18.5714px;
}


.div_centered {
  position:absolute;
  top:50%;
  left:50%;
  padding:15px;
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}

#form_login {
    position: relative;
    cursor: pointer !important;
    border-radius:2px;
    background: #fff;
	padding: 5px 10px;
	border: 2px solid #6ccaa5;

	font-family: Raleway;
	font-size: 16px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 16px;
	color: #6ccaa5;
	height: 30px;
	
	margin-top: -1.0em;
	
	width: 155px;
}

input[type=password] {
    margin-bottom:10px;
    position: relative;
    cursor: pointer !important;
    border-radius:2px;
    background: #fff;
	padding: 5px 10px;
	border: 2px solid #6ccaa5;

	font-family: Raleway;
	font-size: 16px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 16px;
	color: #6ccaa5;
	height: 30px;
	
	width: 155px;
}

input[type=button] {
	margin-bottom:10px;
    position: relative;
    cursor: pointer !important;
    border-radius:2px;
    background: #fff;
	padding: 5px 10px;
	border: 2px solid #6ccaa5;

	font-family: Raleway;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 16px;
	color: #6ccaa5;
	height: 30px;
	
	width: 155px;
}

.dtlBtn {
	margin-top:10px;
	margin-bottom:10px;
    position: relative;
    cursor: pointer !important;
    border-radius:2px;
    background: #6ccaa5;
	padding: 5px 10px;
	border: 2px solid #6ccaa5;

	font-family: Raleway;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 16px;
	color: #fff;
	height: 30px;
	
	width: 100px;
}

.dtlBtn.hover {
	margin-top:10px;
	margin-bottom:10px;
    position: relative;
    cursor: pointer !important;
    border-radius:2px;
    background: #fff;
	padding: 5px 10px;
	border: 2px solid #6ccaa5;

	font-family: Raleway;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 16px;
	color: #6ccaa5;
	height: 30px;
	
	width: 100px;
}

.message_h1 {
	font-family: Raleway;
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 1px;
	color: #6ccaa5;
	height: 30px;
	margin: 1px 0;
}

.message_h2 {
	font-family: Raleway;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 1px;
	color: #6ccaa5;
	margin: 0em;
}

.submit_style {
	font-family: Raleway;
	font-size: 16px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 1px;
	background: #6ccaa5;
	border: none;
	color: #FFFFFF;
	height: 45px;
	margin-top: -1.0em;
	width: 180px;
}

.submit_style:hover {
	font-family: Raleway;
	font-size: 16px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 1px;
	background: #FFFFFF;
	border: 2px solid #6ccaa5;
	color: #6ccaa5;
	height: 45px;
	margin-top: -1.0em;
	width: 180px;
}

.submit_style2 {
	font-family: Raleway;
	font-size: 16px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 1px;
	color: #000000;
	height: 30px;
	margin-top: -1.5em;
	width: 220px;
}

.row_bottom_only
{
	border-bottom: 1px solid #AAAAAA;
	border-bottom-: 1px solid #C1C3D1;
}

.row_top_only
{
	border-top: 1px solid #AAAAAA;
	border-top-: 1px solid #C1C3D1;
}


#order_input_text {
	margin-bottom:0px;
    position: relative;
    cursor: pointer !important;
    border-radius:2px;
    background: #fff;
	padding: 3px 3px;
	border: 2px solid #6ccaa5;

	font-family: Raleway;
	font-size: 13px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 13px;
	color: #6ccaa5;
	height: 20px;
	width: 155px;	
}


body {
  /* background: rgb(204,204,204); */ 
}

page[size="A4"] {
  background: white;
  width: 21cm;
  height: 29.7cm;
  display: block;
  margin: 0 auto;
  margin-bottom: 0.5cm;
  box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
  border: 1.25cm solid #000;
}

@media print {
  body, page[size="A4"] {
    margin: 0;
    box-shadow: 0;
  }
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    color: #EEE;
}

li {
    float: left;
}

li a {
    display: block;
    color: grey;
    text-align: center;
    padding: 8px 8px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    color: #CCC;
}